In [5]:
def add_constant_column(df):
    """
    Adds a constant column 'const' with value 1 as the first column to the DataFrame.
    
    Parameters:
    df (pd.DataFrame): Input DataFrame.
    
    Returns:
    pd.DataFrame: DataFrame with the added constant column as the first column.
    """
    # Create a new DataFrame to avoid modifying the original DataFrame
    df_with_const = df.copy()
    
    # Add a constant column with value 1
    df_with_const.insert(0, 'const', 1)
    
    return df_with_const

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from mlModelSaver import MlModelSaver
from helpers import add_constant_column

mowersDf = pd.read_excel('https://www.dropbox.com/scl/fi/y2rktyoqb8rrshrnlpvw1/Mowers.xlsx?rlkey=e5bi1d8sx5hml4ylfkjv7cryh&dl=1')
mowersDf.head()

   Sales  Temperature  Advertising  Discount
0  17235           33           15       5.0
1  19854           42           25       5.0
2  45786           58           40      10.0
3  49745           67           70      20.0
4  65894           73           75      20.0

In [7]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm
# Your answer

In [8]:
modelPredictSaleByTemperatureAdvertisingDiscount = sm.OLS(
  mowersDf["Sales"],
  add_constant_column(mowersDf[["Temperature", "Advertising", "Discount"]])
)
modelPredictSaleByTemperatureAdvertisingDiscountFit = modelPredictSaleByTemperatureAdvertisingDiscount.fit()
# print(modelPredictSaleByTemperatureAdvertisingDiscountFit.summary())

In [9]:
add_constant_column(mowersDf[["Temperature", "Advertising", "Discount"]])

    const  Temperature  Advertising  Discount
0       1           33           15       5.0
1       1           42           25       5.0
2       1           58           40      10.0
3       1           67           70      20.0
4       1           73           75      20.0
5       1           78           72      15.0
6       1           82           67      15.0
7       1           83           65      10.0
8       1           76           68      20.0
9       1           69           72      20.0
10      1           56           35      15.0
11      1           45           20      10.0
12      1           31           17       5.0
13      1           41           24       7.5
14      1           56           43      12.5
15      1           68           72      25.0
16      1           72           79      25.0
17      1           79           76      20.0
18      1           81           65      12.5
19      1           84           63      12.5
20      1           77           70      15.0
21      1           67           69      25.0
22      1           55           37      15.0
23      1           44           21       5.0

In [10]:
from mlModelSaver import MlModelSaver
mlModelSaverInstance = MlModelSaver({
    "baseRelativePath": "..",
    "modelsFolder": "models"
})

loadedModel = mlModelSaverInstance.exportModel(
    modelPredictSaleByTemperatureAdvertisingDiscountFit,
    {
        "modelName": "modelPredictSaleByTemperatureAdvertisingDiscountFit",
        "description": "modelPredictSaleByTemperatureAdvertisingDiscountFit",
        "modelType": "sm.OLS",
        "inputs": [
            {
                "name": "Temperature",
                "type": "float",
            },
            {
                "name": "Advertising",
                "type": "float"
            },
            {
                "name": "Discount",
                "type": "float"
            }
        ],
        "transformer": add_constant_column,
        "outputs": [
            {
                "name": "Sales",
                "type": "float"
            }
        ]
    }
)
loadedModel

In [11]:

testData = [{
    'Temperature': 42,
    'Advertising': 15,
    'Discount': 5
}]

# Create a DataFrame from the dictionary
testDf = pd.DataFrame(testData)

In [12]:
modelPredictSaleByTemperatureAdvertisingDiscountFit.predict( add_constant_column(testDf))

0    19590.46727
dtype: float64

In [13]:
loadedModel.mlModelSavePredict(testDf)

[{'Sales': 19590.467270313893}]